
.order__main_div{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    height: 75vh;
    position: relative;
}

.main_order{
    flex: 3;
    display: flex;
    flex-direction: column;
    position: relative;
}


.config_order{
    flex: 1
}