@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: linear-gradient(to right top, #79071a, #f3163b);
}
